html,
body {
    height: 100%;
    font-family: "Microsoft YaHei", Consolas, Arial, Helvetica, sans-serif;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #353535;
}

#wrap > .container {
    padding: 50px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

.sidebar-nav {
    padding: 9px 0;
}

.container-body {
    padding-top: 10px;
    margin-bottom: 50px;
}

.nav-header {
    padding: 3px 10px;
    font-size: 15px;
}

.navbar-inner .logo {
    color: #faf0f0;
    text-shadow: 2px 1px 2px #353535;
    font-size: 20px;
    font-weight: lighter;
}

.main-body {
    margin-top: 20px;
}

.ui-tabs-vertical {
    width: 55em;
    height: 480px;
    padding: 30px 20px 0px 10px;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: 20px 0 .2em .2em;
    float: left;
    width: 94px;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display: inline;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: .2em;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 716px;
    border: 1px solid #AAAAAA;
    height: 430px;
    border-radius: 6px;
}

.ui-state-active a, .ui-state-hover a {
    outline: none;
}

#tabs > ul > li > a {
    font-weight: bolder;
    width: 64px;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 710px;
}

#sortable li {
    margin: 0px 10px 30px 10px;
    width: 64px;
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px 1px 5px;
    border-radius: 4px;
    font-weight:lighter;
}

#sortable img {
    width: 64px;
    height: 64px;
}

#search-body {
    height: 220px;
}

.search-logo {
    height: 220px;
    margin-left:25px;
}
.body-link blockquote {
    border-color: #ff6a00;
}

.body-link a {
    margin: 10px;
}

.tab-body-container {
    text-align:center;
    margin:40px auto;
    vertical-align:middle;
}
.search-body-show {
    display:block !important;
}

#search-body > div {
    display:none;
}

#search-baidu {
    margin-left:20px;
}

#search-baidu #baidu-logo{
    margin: 0px 0px 0px 180px;
}

#search-baidu .baidu-form-wrapper {
    margin-left:40px;
}

#search-baidu .baidu-form-wrapper > form {
    position:relative;
}

#search-baidu .baidu-input-wrapper {
    width: 483px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    background: url(../img/baiduBack.png) no-repeat -304px 0;
    border: 1px solid #b6b6b6;
    border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
    vertical-align: top;
    float:left;
}

#search-baidu .baidu-input{
    width: 471px;
    height: 22px;
    font: 16px/22px arial;
    background: #fff;
    outline: 0;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: none; 
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border: 1px solid #B6B6B6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position:absolute;
    left:0px;
}

#search-baidu .baidu-button-wrapper {
    float:left;
    display:inline-block;
    width: 97px;
    height: 34px;
    display: inline-block;
    background: url(../img/baiduBack.png) no-repeat -202px 0;
    z-index: 0;
    vertical-align: top;
}

#search-baidu .baidu-button {
    width: 95px;
    height: 32px;
    font-size: 14px;
    padding: 0;
    background: #ddd url(../img/baiduBack.png);
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    position:absolute;
    left:490px;
}

#search-baidu .baidu-button-down {
    background-position: -100px 0;
}

#search-baidu .baidu-text {
    height: 19px;
    font-size: 16px;
    margin: 0 0 4px;
    text-align: left;
    padding: 0;
    text-align: left;
    text-indent: 50px;
}


#search-baidu .baidu-text span.link {
    font-size: 14px;
    color: #00c;
    text-decoration: underline;
    cursor: pointer;
    margin:0 6px;
}

#search-baidu .baidu-text span.normal {
    margin:0 6px;
    font-size:14px;
    font-weight:bold;
}

#search-google {
    margin-left: 80px;
}

#search-google>.google-logo {
    background: url(../img/google_logo.png) no-repeat;
    background-size: 275px 95px;
    height: 95px; width: 275px;
    margin-left: 150px;
}

#search-google>.google-logo>.google-logo-text {
    color: #777;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 215px;
    top: -25px;
}

#search-google #google-input-wrapper {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    height: 27px;
    font-family: arial,sans-serif;
    width:568px;
    margin-top: 10px;
    position:relative;
}

#search-google #google-input-wrapper > .google-input-text {
    border: none;
    padding: 0px;
    margin: 3px 0px 0px 3px;
    height: auto;
    width: 563px;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
    background-color: transparent;
    outline: none; 
    background-position: initial initial; 
    background-repeat: initial initial; 
    font: 17px arial,sans-serif;
    -webkit-appearance: none; 
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position:absolute;
    left:2px;
}

form {
    margin: 0px !important;
}

#search-google #google-input-wrapper.focus {
    border-color: #4d90fe;
}

#search-google .google-submit-wrapper{
    width: 510px;
    text-align: center;
    margin-top: 10px;
}

#search-google .google-submit-wrapper > input[type=submit] {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #666;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

#search-google .google-submit-wrapper > input[type=submit]:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #333;
}

#search-sogou {
    width:100%;
    margin: 0px auto 0px auto;
    padding-top: 10px;
    text-align:center;
}

#search-sogou > #sogou-logo-wrapper > img {
    width:248px;
    height:64px;
}

#search-sogou #sogou-text-line {
    position: relative;
    font: 14px arial;
    margin-bottom: 0px;
    zoom: 1;
    padding-left: 0px;
    margin-top:10px;
}

#search-sogou #sogou-text-line span.normal {
    margin-right: 20px;
    font-weight:bold;
}

#search-sogou #sogou-text-line a,#search-sogou #sogou-text-line span.link {
    margin-right: 20px;
    color: #00c;
    text-decoration: underline;
    cursor: pointer;
    font: 14px arial;
    zoom: 1;
    text-align: left;
}

#sogou-search-bottom {
   padding-left:90px;
   margin-top:5px;
}

#search-sogou #sogou-input-wrapper {
    border: 1px solid #818181;
    border-color: #818181 #B8B8B8 #B8B8B8 #818181;
    float: left;
    text-align: left;
    font-size: 12px;
}

#search-sogou #sogou-input-wrapper .sogou-input {
    width: 481px;
    padding: 4px;
    height: 21px;
    border: 1px solid #D6D6D6;
    border-width: 1px 0 0 1px;
    float: left;
    font: 16px/21px verdana;
    margin: 0;
    color: black;
    vertical-align: top;
}

#search-sogou .sogou-button {
    float: left;
    width: 90px;
    height: 33px;
    background: #D4D4D4 url(../img/sogou-back.png) no-repeat left -116px;
    border: none;
    margin: 0 0 0 -1px;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    color: black;
}

#search-sogou .sogou-button-down {
    background-position: left -152px;
}

#search-360 #so-logo-wrapper {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align:center;
}

#search-360 #so-text-line {
    font-family:arial,sans-serif;
    font-size: 14px;
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
    z-index: 999;
}

#search-360 #so-text-line span.normal {
    font-weight: bold;
    color: #3eaf0e;
    cursor: default;
    margin-right: 10px;
}

#search-360 #so-text-line span.link {
    margin-right: 18px;
    display: inline-block;
    margin-right: 10px;
    height: 31px;
    line-height: 31px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

#search-360 #so-text-line span.link:hover {
    color: #3eaf0e;
    text-decoration: none;
}

#search-360 #so-input-wrapper {
    height: 34px;
    border: 2px solid #3eaf0e;
    box-shadow: 0 2px 1px #f0f0f0;
    width:500px;
    float: left;
}

#search-360 #so-input-wrapper #soInput {
    width: 485px;
    height: 22px;
    margin: 5px 0 5px 3px;
    outline: 0;
    border: 0;
    background: white;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
    padding: 0;
    -webkit-appearance: none; 
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position:static;
    display:inline-block;
}

#search-360 #so-search-button {
    display: inline-block;
    width: 100px;
    height: 38px;
    _height: 40px;
    margin-left: 5px;
    outline: 0;
    border: 1px solid #3eaf0e;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    background: url('../img/360_back.png') no-repeat #3eaf0e;
    color: white;
    font: bold 16px arial,sans-serif;
    vertical-align: top;
    cursor: pointer;
}

#search-360 #so-search-button:hover {
    border: 1px solid #4bbe11;
    background-position: 0 -38px;
}

#search-360 #so-button-wrapper {
    float:left;
}
#search-360 #so-form-wrapper {
    height:40px;
    margin-left: 80px;
}

#search-jd {
    padding-top:60px;
    padding-left:60px;
}

#search-jd #jd-box{
    width: 294px;
    z-index: 11;
    height: 30px;
    margin-bottom: 3px;
    border: 3px solid #E4393C;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    display:inline-block;
    float:left;
    margin:10px 0 0 20px;
}

#search-jd #jd-logo {
    display:inline-block;
    float:left;
    width:270px;
}

#search-jd #jd-box > form {
    height: 30px;
    overflow: hidden;
}

#search-jd #jd-input {
    width: 206px;
    height: 20px;
    padding: 5px;
    background-position: 0 -360px;
    background-color: #fff;
    background-repeat: repeat-x;
    line-height: 20px;
    color: #999;
    font-family: arial,"\5b8b\4f53";
    font-size: 14px;
    margin:0px;
    float: left;
    border:none;
}

#search-jd #jd-button {
    width: 78px;
    background: #E4393C;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 30px;
    border: 0;
    float: left;
    text-align: center;
    cursor: pointer;
}

#search-amazon {
    padding-top:70px;
    padding-left:80px;
}

#search-amazon #amazon-logo-wrapper {
    display:inline-block;
    float:left;
}

#search-amazon #amazon-logo {
    width: 106px;
    height: 40px;
    background-position: -9px -779px;
    background-image: url(../img/amazonBack.png);
}

#search-amazon #amazon-box {
    height: 34px;
    margin-right: 39px;
    padding-left: 5px;
    background-position: -10px -80px;
    background-repeat: no-repeat;
    background-image: url(../img/amazonBack.png);
    width:412px;
}

#search-amazon #amazon-input-box {
    height: 34px;
    background-color: white;
    background-position: 0 -510px;
    background-repeat: repeat-x;
    background-image: url(../img/amazonBack.png);
    float:left;
    width: 350px;
}

#search-amazon #amazon-input {
    margin: 7px 0 0 0;
    padding: 0px 0px 1px 3px;
    width: 100%;
    height: 23px;
    border: none;
    font-family: "arial","sans-serif";
    font-size: 14pt;
    background: transparent;
    color: black;
    outline: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-amazon #amazon-button-box {
    height: 34px;
    overflow: hidden;
    background-position: -33px -80px;
    padding: 0 0 0 3px;
    margin: 0;
    background-image: url(../img/amazonBack.png);
    display:inline-block;
    width:39px;
}

#search-amazon #amazon-box-wrapper {
    float:left;
    margin-left:20px;
}

#search-amazon #amazon-button {
    width: 39px;
    height: 34px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    line-height: 15px;
    font-size: 13px;
    font-family: "arial","sans-serif";
}

#search-taobao {
    padding-top:50px;
    height: 60px;
}

#search-taobao #taobao-logo {
    float:left;
    margin-left:30px;
}

#search-taobao #taobao-container {
    display:inline-block;
    float: right;
    margin-right:20px;
}

#search-taobao #taobao-tab-header {
    height: 23px;
    margin: 0px;
}

#search-taobao #taobao-tab-header li {
    float: left;
    position: relative;
    padding: 0 15px;
    display: block;
    height: 23px;
    line-height: 23px;
    font-family: arial;
    cursor: pointer;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    font-size:12px;
}

#search-taobao #taobao-tab-header .current {
    font-weight: bold;
    color: #fff;
    background-color: #f27b04;
}

#search-taobao #taobao-input-wrapper {
    font-family: serif;
    width: 340px;
    height: 34px;
    float: left;
    position: relative;
    vertical-align: middle;
    background-color: #f27b04;
}

#search-taobao #taobao-input {
    font-size: 14px;
    font-family: verdana, tahoma, sans-serif;
    width: 327px;
    height: 18px;
    line-height: 18px;
    padding: 5px;
    background-color: #fff;
    vertical-align: middle;
    position: absolute;
    left: 3px;
    top: 3px;
    border:none !important;
    border-radius:0px;
    box-shadow:none;
}
#search-taobao #taobao-submit {
    position: relative;
    width: 133px;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    background-color: #F89913;
    color: #fff;
    border: 0 none #D25102;
    float: left;
    cursor: pointer;
    font-weight:bolder;
    background: url("../img/taobao-button.gif") -311px -19px no-repeat transparent;
    text-indent: -9999px;
}
#search-xun {
    background-color: #1D7AD9;
    width: 680px;
    height: 180px;
    margin: 0px 0px 0px 20px;
    border-radius:10px;
}

#search-xun #xun-logo {
    float: left;
    width: 255px;
    height: 65px;
    overflow: hidden;
    margin: 65px 0px 0px 20px;
}
#search-xun #xun-container {
    float: right;
    margin: 65px 20px 0px 0px;
}
#search-xun #xun-input {
    float: left;
    width: 300px;
    height: 20px;
    line-height: 20px;
    padding: 8px 5px 7px 10px;
    overflow: hidden;
    font-size: 14px;
    color: #444;
    border:none;
}
#search-xun #xun-submit {
    float: left;
    width: 35px;
    height: 35px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    background-position: 0 -240px;
    background-color: #f80;
    cursor:pointer;
    display:inline-block;
    background-image: url("../img/xun-button.png");
    background-repeat: no-repeat;
}

#search-dazhong {
    padding-top: 60px;
    padding-left: 40px;
}

#search-dazhong #dazhong-logo-wrapper {
    float:left;
    position:relative;
    margin-top: 15px;
}

#search-dazhong #dazhong-logo {
    display: block;
    width: 136px;
    background-position: 0 10px;
    height: 55px;
    background-image: url("../img/dazhong.png");
    background-repeat: no-repeat;
    float: left;
    outline: medium none;
    overflow: hidden;
}

#search-dazhong #dazhong-container {
    float:left;
    position:relative;
}

#search-dazhong #dazhong-tab-header {
    position: relative;
    float: left;
    list-style:none;
    margin-bottom:0px;
    padding-bottom:0px;
}

#search-dazhong #dazhong-tab-header li {
    zoom: 1;
    position: relative;
    float: left;
    margin-right: 1px;
    list-style: none;
    font-size:14px;
    font-family: Tahoma, sans-serif;
}

#search-dazhong #dazhong-tab-header li.normal span {
    float: left;
    padding-left: 2px;
    background-position: 0 -85px;
    cursor: pointer;
    background-image: url("../img/dazhong-back.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #61646e;
}

#search-dazhong #dazhong-tab-header li.normal strong {
    float: left;
    display: block;
    height: 27px;
    padding: 0 20px;
    font-weight: normal;
    line-height: 27px;
    background-position: right -85px;
    background-image: url("../img/dazhong-back.png");
    background-repeat: no-repeat;
}
#search-dazhong #dazhong-tab-header li.current span {
    float: left;
    padding-left: 2px;
    background-position: 0 -149px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../img/dazhong-back.png");
}

#search-dazhong #dazhong-tab-header li.current strong {
    font-weight: bold;
    color: #fff;
    background-position: right -149px;
    float: left;
    display: block;
    height: 27px;
    padding: 0 20px;
    line-height: 27px;
    cursor: pointer;
    background-image: url("../img/dazhong-back.png");
    background-repeat: no-repeat;
    text-decoration: none;
}

#search-dazhong #dazhong-tab-header li.normal span:hover {
    color: red;
    text-decoration: none;
}

#search-dazhong #dazhong-form-wrapper {
    clear:left;
    background-position: right -269px;
    background-repeat: repeat-x;
    background-image: url("../img/dazhong-back.png");
    height:50px;
    width:460px;
    line-height:48px;
    margin-left: 25px;
}

#search-dazhong #dazhong-input-wrapper {
    float: left;
    margin-top: 7px;
    border: solid #ff9d55;
    border-width: 1px 2px 0px 1px;
    background-position: 0 -323px;
    background-repeat: repeat-x;
    background-image: url("../img/dazhong-back.png");
    line-height: 48px;
    height:32px;
    width: 300px;
    margin-left:30px;
    position:relative;
}

#search-dazhong #dazhong-link {
    float: left;
    width: 50px;
    height: 35px;
    margin-top: 6px;
    padding-bottom: 1px;
    font-size: 15px;
    font-weight: bold;
    color: #C00;
    border: 0;
    background-position: -26px -421px;
    background-color: #fefcf5;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../img/dazhong-back.png");
    margin-left: 9px;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    padding-left: 15px;
    line-height: 40px;
    outline-style:none;
    outline-width:0;
}

#search-dazhong #dazhong-input {
    position:absolute;
    width: 282px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    left: 3px;
    top: 2px;
    outline: 0;
    outline-style:none;
    outline-width:0;
}

#search-tutuso {
    margin-left:20px;
}

#search-tutuso #tutuso-woman {
    display:block;
    float:left;
    padding-top: 20px;
    width: 665px;
}

#search-tutuso #tutuso-woman-logo {
    float: left;
    width: 199px;
    height: 52px;
    margin-right:30px;
}

#search-tutuso #tutuso-woman-form {
    width: 435px;
    float: left;
    height: 50px;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#search-tutuso #tutuso-woman-input {
    padding: 15px 3px 11px 15px;
    width: 300px;
    height: 24px;
    background: url("../img/tutuso-woman-back.png") no-repeat 0 -340px;
    border: none;
    border-color: transparent;
    box-shadow: none;
    float: left;
    border-radius: 0;
    line-height: 20px;
    overflow: hidden;
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

#search-tutuso #tutuso-woman-submit {
    width: 113px;
    height: 50px;
    display: inline-block;
    border: none;
    font-size: 18px;
    color: #F52270;
    padding: 0;
    border: 0;
    margin: 0;
    background: url("../img/tutuso-woman-back.png") no-repeat -1px -414px;
    text-indent: -10000px;
}

#search-tutuso #tutuso-man {
    display:none;
    float:left;
    padding-top: 20px;
    width: 665px;
}

#search-tutuso #tutuso-man-logo {
    float: left;
    width: 199px;
    height: 52px;
    margin-right:30px;
}

#search-tutuso #tutuso-man-form {
    width: 435px;
    float: left;
    height: 50px;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#search-tutuso #tutuso-man-input {
    padding: 15px 3px 11px 15px;
    width: 300px;
    height: 24px;
    background: url("../img/tutuso-man-back.png") no-repeat 0 -340px;
    border: none;
    border-color: transparent;
    box-shadow: none;
    float: left;
    border-radius: 0;
    line-height: 20px;
    overflow: hidden;
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

#search-tutuso #tutuso-man-submit {
    width: 113px;
    height: 50px;
    display: inline-block;
    border: none;
    font-size: 18px;
    color: #F52270;
    padding: 0;
    border: 0;
    margin: 0;
    background: url("../img/tutuso-man-back.png") no-repeat -1px -414px;
    text-indent: -10000px;
}

#search-tutuso #tutuso-tab {
    position: relative;
    width: 180px;
    float: right;
}

#search-tutuso #tutuso-tab a {
    outline-style: none;
    outline-width: 0;
}

#search-tutuso #tutuso-switch-man {
    right: 50px;
    position: absolute;
}

#search-etao {
    padding-top: 20px;
    margin-left:60px;
}

#search-etao #etao-container {
    position: relative;
    background-color: #fff;
    border: 1px solid #dedede;
    border-left: 0;
    height:160px;
    width:600px;
}

#search-etao #etao-logo-wrapper {
    width: 200px;
    height: 160px;
    font-size: 12px;
    float:left;
    background-color: #377bee;
    padding: 0;
}

#search-etao #etao-logo {
    margin-top:50px;
    margin-left:55px;
}

#search-etao .etao-tab span.link {
    font-size: 16px;
    color: #333;
    line-height: 24px;
    font-family: tahoma, 'microsoft yahei', Î¢ÈíÑÅºÚ;
    cursor: pointer;
    margin:0 8px;
}

#search-etao .etao-tab span.link:hover {
    color: #f60;
}

#search-etao .etao-tab span.normal {
    font-size: 16px;
    color: #f60;
    line-height: 24px;
    font-family: tahoma, 'microsoft yahei', Î¢ÈíÑÅºÚ;
    cursor: pointer;
    margin:0 8px;
}

#search-etao #etao-search-wrapper {
    float:left;
    margin:30px 0px 0px 20px;
}

#search-etao #etao-form-wrapper {
    margin-left:8px;
    position:relative;
}

#search-etao #etao-input-wrapper {
    float:left;
    position: relative;
    background-color: #fff;
    border: 2px solid #ddd;
    border-right: 0;
    overflow: hidden;
    z-index: 9;
    padding-right: 9px;
    height:36px;
    width:270px;
}

#search-etao #etao-input {
    border:none;
    font-family: tahoma, 'microsoft yahei', Î¢ÈíÑÅºÚ;
    font-size: 13px;
    line-height:23px;
    margin-top:3px;
    outline-style: none;
    outline-width: 0;
    width:265px;
}

#search-etao #etao-submit-wrapper {
    float:left;
    outline-style: none;
    outline-width: 0;
    margin-left:0px;
    padding-left:0px;
    width:40px;
    height:40px;
    background-color:#f60;
    position:relative;
}

#search-etao #etao-submit {
    float:left;
    width:40px;
    height:40px;
    display: inline-block;
    border: none;
    margin:0px;
    padding:0px;
    border:none;
    background: url("../img/etao-button.png") no-repeat;
    position:absolute;
    left:0px;
}

#search-qiche {
    padding-top:20px;
}

#search-qiche #qiche-logo-wrapper{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

#search-qiche #qiche-form-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 532px;
    height: 35px;
}

#search-qiche #qiche-input-wrapper {
    width: 449px;
    height: 32px;
    border: 1px solid #ccd3e4;
    border-right: 0;
    float: left;
    font-family: \5b8b\4f53,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#search-qiche #qiche-input-wrapper.focus {
    border: 1px solid #7692cd;
    border-right: 0;
}

#search-qiche #qiche-input {
    width: 441px;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    border: 0;
    outline: none;
}

#search-qiche #qiche-submit {
    color: #FFFFFF;
    background-color: #3b5998;
    width: 80px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 14px;
    font-weight: bold;
    border:none;
}

#search-qiche .qiche-tab {
    height: 20px;
    font-size: 14px;
    margin: 30px 8px 4px 0px;
    text-align: left;
    padding: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    font-family: \5b8b\4f53,Arial,Helvetica,sans-serif;
}

#search-qiche .qiche-tab span.link {
    font-size: 14px;
    color: #00c;
    cursor: pointer;
    margin: 0 8px;
    text-decoration: underline;
}

#search-qiche .qiche-tab span.normal {
    font-size:14px;
    font-weight:bold;
    margin: 0 8px;
}

#search-dou {
    padding: 20px 0px 0px 150px;
}

#search-dou #dou-logo-wrapper {
    width:310px;
    height: 65px;
}

#search-dou #dou-tab {
    height:20px;
    margin:30px 0px 10px 0px;
}

#search-dou #dou-input-wrapper {
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    width: 410px;
    height: 30px;
    border: 1px solid #c3c3c3;
}

#search-dou #dou-input {
    width: 380px;
    border: none;
    font-size: 13px;
    height: 19px;
    padding: 5px;
    margin-right: 3px;
    vertical-align: middle;
    outline-style: none;
    outline-width: 0;
}

#search-dou #dou-submit-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/dou-button.png) 50% 50% no-repeat;   
}

#search-dou #dou-submit {
    border: 0;
    background: transparent;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

#search-dou #dou-tab span.link {
    font-size: 14px;
    cursor: pointer;
    margin: 0 8px;
}

#search-dou #dou-tab span.normal {
    font-size:14px;
    font-weight:bold;
    margin: 0 8px;
    color: black !important;
}

#search-dou #dou-web {
    color: #228A31;
}

#search-dou #dou-dushu {
    color: #584029;
}

#search-dou #dou-music {
    color: #F37F00;
}

#search-dou #dou-group {
    color: #0F959D;
}

#search-dou #dou-local {
    color: #E85205;
}

#search-58 {
    padding:50px 0 0 30px;
}

#search-58 #tc-logo-wrapper {
    float:left;
}

#search-58 #tc-form-wrapper {
    float:left;
    margin: 10px 0 0 20px;
}

#search-58 #tc-input-wrapper {
    background: url("../img/58-bg.png") repeat-x;
    background-position: 0 -118px;
    height: 34px;
    padding-left: 13px;
    float: left;
    overflow: hidden;
    line-height: 34px;
    border-left: 1px solid #C8C8C8;
    width:320px;
}

#search-58 #tc-input {
    background: none;
    width: 315px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    padding: 4px 0px 6px 0px;
    border: none;
    float: left;
    display: inline-block;
    overflow: hidden;
    color: #292929;
    font-family: Tahoma,"ËÎÌå", Arial;
    outline-style: none;
    outline-width: 0;
}

#search-58 #tc-submit-wrapper {
    border: 1px solid #b8b8b8;
    float: left;
    height: 32px;
    overflow: hidden;
    line-height: 26px;
}

#search-58 #tc-submit {
    height: 32px;
    width:102px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    color: #000;
    float: left;
    margin: 0px;
    padding: 0 20px;
    background-position: 0px -307px;
    background: url("../img/58-bg.png") repeat-x;
    font-family: Tahoma;
}

